.card {
    display: grid;
    grid-template-columns: 25% 15% 15% 15% 15%;
    grid-template-rows: 150px;
    grid-gap: 10px;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    background-color: black;
    color: rgb(182, 182, 182);
    outline-style: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img {
    border-radius: 50%;
}